<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tetris.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>490313171D9F735B00AEAC96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4903132F1D9F735B00AEAC96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4903133A1D9F735B00AEAC96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4925E2AE1F831F4E0007C140</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4925E2C71F831F4E0007C140</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4925E2D21F831F4F0007C140</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
